/* Début immport font */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* Début du CSS Global */
* {
   margin: 0;
   font-weight: 500;
   font-size: 18px;
   font-family: var(--font);
}

/* Début Class Contain */
.contain-1440 {
   max-width: 1440px;
}

/* Début Class Transform */

.uppercase {
   text-transform: uppercase;
}

.capitalize {
   text-transform: capitalize;
}

/* Début Class */

.opacity {
   background-color: rgba(211, 211, 211, 1);
   opacity: 0.33;
}

/* Début CSS Variable */
:root {
   --font: 'Space Grotesk';
   --color0: hsl(0, 0%, 100%);
   --color1: hsl(279, 6%, 55%);
   --color2: hsl(278, 68%, 11%);
   --color3: #6112A9 ;
   --color_error : hsl(0, 100%, 66%);
   --radius: 5px;
   --radius1:33px
}

/* Début CSS Main */

main {
   margin: auto;
   min-width: 100%;
   max-width: 100%;
}

section {
   background-image: url(images/bg-main-desktop.png);
   background-repeat: no-repeat;
   margin: auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 100px;
   padding: 100px 50px;
}

/* Début du CSS #card */

#card {
   display: grid;
   gap: 20px;
   
}

#card p {
   color: var(--color0);
}

#cardfront {
   min-width: 370px;
   width: 70%;
   justify-self: center;
   background-image: url(images/bg-card-front.png);
   background-repeat: no-repeat;
   background-size: contain;
   height: 257px;
}

#cardback {
   min-width: 370px;
   width: 70%;
   justify-self: right;
   background-image: url(images/bg-card-back.png);
   background-repeat: no-repeat;
   background-size: contain;
   height: 257px;
}

/* Début du CSS form */

body > main > section > div:nth-child(2) {
   margin: auto 0;
   max-width: 80%;
}

form {
   display: grid;
   gap: 20px;
}


form input {
   max-width: 300px;
}

form>div {
   display: grid;
}

form input {
   max-width: 100%;
}

form label {
   padding-bottom: 5px;
}

body > main > section > div > form > div:nth-child(3) {
   display: flex;
   flex-wrap: wrap;
   align-items: start;
   gap: 5px;
}

body > main > section > div > form > div:nth-child(3) label {
   padding-bottom: 5px;
}

body > main > section > div > form > div:nth-child(3) > div:nth-child(1) {
   display: grid;
}

body > main > section > div > form > div:nth-child(3) > div:nth-child(1) > div > input {
   max-width: 35%;
   margin-right: 5px;
}

body > main > section > div > form > div:nth-child(3) > div:nth-child(2) {
   display: grid;
}

div > form>input[type='submit']{
   color: var(--color0);
   background-color: var(--color2);
}

div > form>input[type='submit']:disabled {
   opacity: 0.5;
}

div > form input[type='text']{
   border : 1px solid var(--color1);
}

div > form input {
   border-radius: var(--radius);
   height: 33px;
}

/* Début CSS JS */

.border_error {
   border: 1px solid var(--color_error)!important;
}

.error {
   color: var(--color_error);
   font-size: small;
}

#divSuccess {
   margin: auto;
   text-align: center;
}


#cardfront > p {
   margin: 35% 0% 0% 10%
}

#cardfront > div {
   display: flex;
   justify-content: space-between;
   margin: 5% 5% 0px 5%;
}

#cardback > p {
   text-align: right;
   margin: 24% 11%;;
}

#loadingModal {
   width: 15%;
   text-align: center;
   margin: auto;
   border-radius: var(--radius1);
}

#loadingModal span {
   color: var(--color3);
}


/* Début CSS Footer */
footer {
   margin: auto;
   padding-top: 50px;
}

.attribution { 
   font-size: 11px; 
   text-align: center;
}

.attribution a { 
   color: hsl(228, 45%, 44%); 
}

/* Début CSS Tablet */

@media screen and (max-width:1024px) {

   body > main > section {
      padding: 50px;
   }

   body > main > section {
      background-image: none;
      grid-template-columns: 1fr;
      padding: 0;
   }
   #card {
      min-height: 350px;
      max-height: 400px;
      position: relative;
      background-image: url(images/bg-main-mobile.png);
      background-repeat: no-repeat;
      background-size: cover;
      grid-template-columns: 1fr;
   }

   #cardback {
      min-width: 280px;
      max-width: 448px ;
      margin-top: 50px;
      position: absolute;
      z-index: 1  ;
      justify-self: right;
   }

   #cardfront {
      min-width: 280px;
      max-width: 448px ;
      margin-top: 205px;
      z-index: 2;
      justify-self: left;
   }

   body > main > section > div:nth-child(2) {
      margin: auto;
      padding: 50px;
   }

   * {
      font-size: small;
   }

 }

 @media (max-width: 375px) {

   html, body {
      overflow-x: hidden;
      width: 100%;
  }

   #card {
      background-size: 100%;
      min-height: 220px;
   }
   
   body > main > section {
      gap: 30px;
   }

   body > main > section > div:nth-child(2) {
      padding: 10px;
   }

   #cardback {
      margin-top: 20px;
      min-width: 80vw;
      left: 20%;
      right: 10%;
      height: 20vh;
  }

  #cardfront {
   margin-top: 95px;
   min-width: 80vw;
   left: 10%;
   right: 20%;
   height: 20vh;
}
  }

  * {
   font-size: x-small;
  }
